body {
  background-color: #D7CEC7;\
  position: relative;
}

 .IndexHeader1 > * {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

.IndexHeader1 a {
  font-size: 20px;
  display: inline-block;
  font-family: cursive;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  color: #76323F;
}

p{
  color: #565656;
  border-color: white;
}
.mySideNav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #565656;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mySideNav a{
	text-decoration: none;
	font-size: 18px;
	color: #D7CEC7;
	display: block;
	transition: 0.3s;
	padding: 8px 8px 8px 8px;
}

.mySideNav a:hover {
	color: #C09F80;

}

.mySideNav .closebutton {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#SideNavSpan{
	font-size: 1.5em;
  color: #565656;

}

#Main {
	transition: margin-left .5s;
  box-sizing: border-box;
  content: " ";
  clear: both;
  display:block;
  top:50px;
  margin-left:-10px;
  margin-right:-10px;
  height: 100%;
}


@media screen and (max-height: 450px) {
    .mySideNav {padding-top: 15px;}
    .mySideNav a {font-size: 18px;}
    #Main > { padding-left: -20px;}
}


.TeamPhotoContainer{
  position: relative;
}
.TeamPhotoContainer:after{
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

#TeamPhoto{
  width: 100%;
  margin-right: -100%;
  max-height: 600px;
  background-size: cover;
}

.features{
  padding-bottom:200px;
  height: 100%;
  box-sizing: border-box;
}

.search-blocks{
  box-sizing: border-box;
  width: 25%;
  margin-right: -10px;
  float:left;
}


.feature{
  margin: 50px;
  width: 50%;
  text-align: center;
  border: 1px solid #e1e8ec;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.feature img{
  height:158px;
  width: 120px;
}

.feature h2{
  text-shadow: grey 1px 0 7px;
}


.feature-buttons{
  background: #e7edf1;
  display: inline-block;
  padding: 10px 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: grey;
  transition: 0.3s ease;
  text-decoration: none;
}

.feature-buttons:hover{
  box-shadow: inset 0 0 100px #69acc7;
}

.footer{
  height:200px;
  padding-bottom: 30px;
}

.footer > *{
  font-family: century;
}
.footer-row{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.footer-columns{
  box-sizing: border-box;
  width: 33.33%;
  margin-right: -10px;
  float:left;
  height: 100%;
}
.footer-feature{
  margin-left: 30px;
  width: 100%;
  height:100%;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

.footer-feature > *{
  display: block;
  padding-bottom: 5px;
}

.btnTop{
  bottom: 45px;
  right: 24px;
  display: none;
}

#Smartwatch {
  height: 95%;
  width: 95%;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px Black;
  margin-bottom: 40px;
}

.Reference {
  padding-right: 30px;
  font-family: sans-serif;
}

.Abstract {
  background-color: #ffff;
  box-sizing: border-box;
	box-shadow: 2px 2px 8px Black;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: sans-serif;
}
.Abstract p{
  font-family: sans-serif;
  font-size: 18px;
  padding-right: 80px;
}
.Experiment {
  background-color: #ffff;
  box-sizing: border-box;
	box-shadow: 2px 2px 8px Black;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.Experiment a{
  font-size: 18px;
  padding-right: 100px;
}
.Experiment > *{
  font-family: sans-serif;
}
.Conclusions {
  background-color: #ffff;
  box-sizing: border-box;
	box-shadow: 2px 2px 8px Black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 25px;
}
.Conclusions a{
  font-size: 18px;
  padding-right: 100px;
}


table{
  border: 2px solid #C09F80;
}

#column{
	width: 50%;
  height: 80%;
	float:left;
}

#TableDeviceData{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 40px;
}

.ResultTable th, .ResultTable td {
  padding:10px;
  border: 2px solid;
  color: #565656;
  border-color: #C09F80;
  background-color: white;
}


.ExperimentAnalysis{
	font-weight: bold;
	font-size: 18px;
}

.DeviceGraph{
	width: 95%;
  border: 2px solid #C09F80;
}

.email-footer {
  text-align: center;
}

#email {
  text-decoration: none;
}
